@import './variables';

%header{
    padding: 15px;
    background-color: #fff;
    box-shadow: $box-shadow;
}

%header_btn{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    position: relative;
    top: 3px;
}

%header_container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}


%switch_mode{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}

%app{
    background-color: $light-mode-bg;
    min-height: 100vh;
    height: 100%;
}

%inputs{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 15px;
}

%searchInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 0 auto;
}


%default_input{
    outline:none;
    border: none;
     height: 7vh;
     width: 500px;
     font-size: 15px;
     padding-left: 5px;
}

%select_region{
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
    button{
        outline: none;
        border: none;
        background-color: transparent;
    }
}

%drop_down{
    display: flex;
    justify-content: space-between;
    position: relative;
 
}


%drop{
    p{
        margin-bottom: 5px;
    }
    position: absolute;
    top: 12em;
    display: block;
    right: 5.3em;
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}


%countries{
    max-width: 1400px;
    padding: 15px;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px; 
}

%country{
    background-color: $light-mode-elements;
    width: 305px;
    box-shadow: $box-shadow;
    height: 370px;
    cursor: pointer;
}


%country_details_body{
    margin: 15px auto 0;
    padding: 15px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

%img_container{
    width: 100%;
    object-fit: cover;
}
%info{
    flex: 0.5;
}