@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

$dark_text:#111517;
$light_text:#fff;
$default_theme:#fff;
$border_shadow_bottom:2px 4px 4px 2px rgba(116, 116, 116, 0.08);

//Themes for App
$original-background-theme:#fff;
$dark-background-theme-header:#202C36;
$dark-background-theme:#2B3844;

$dark-mode-elements:hsl(209,23%,22%);
$dark-mode-bg:hsl(207,26%,17%);
$light-mode-elements:#fff;
$light-mode-bg:hsl(0,0%,98%);


$search_input_box_shadow:0px 3px 15px rgba(0,0,0,0.2);
//fonts
$font-family:'Nunito sans', sans-serif;

$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700,
    "extra-bold":900
);

$heights:(
    "base-height":8vh,
    "const-height":100vh,
    "refactored-height":10vh
);

$font-sizes:(
    "normal":16px,
    "regular":18px,
    "medium":24px
);

$font-family:'Nunito sans', sans-serif;



//margin
$margins:(
   "m":3rem,
   "m-t":2rem,
   "m-l":5rem,
   "m-r":5rem,
   "m-b":5rem
);

//padding
$paddings:(
   "p":2rem,
   "p-t":2rem,
   "p-r":2rem,
   "p-b":2rem
);


//positions
$relative-positions:(
    "top":1rem,
    "min-top":0.5rem,

    "left":1rem,
    "min-left":0.5rem,

    "bottom":1rem,
    "min-bottom":0.5rem,

    "right":1rem,
    "min-right":0.5rem
);
