//margin
.mt-05rem{
   margin-top:0.5rem;
}

.mb-05rem{
    margin-bottom:0.5rem;
}

.m-auto{
    margin:0 auto
}

.mt-1rem {
    margin-top: 1rem;
  }

  .mt-2rem {
    margin-top: 2rem;
  }
  
  .mt-3rem {
    margin-top: 3rem;
  }
  
  .mt-4rem {
    margin-top: 4rem;
  }
  
  .mt-5rem {
    margin-top: 5rem;
  }
  
  .mt-6rem {
    margin-top: 6rem;
  }
  
  .mt-10rem {
    margin-top: 10rem;
  }
  
  .mt-11rem {
    margin-top: 11rem;
  }
  
  .mt-12rem {
    margin-top: 12rem;
  }
  
  .mt-13rem {
    margin-top: 13rem;
  }
  
  .mt-15rem {
    margin-top: 15rem;
  }
  
  .mb-1rem {
    margin-bottom: 1rem;
  }
  
  .mb-2rem {
    margin-bottom: 2rem;
  }
  
  .mb-3rem {
    margin-bottom: 3rem;
  }
  
  .mb-4rem {
    margin-bottom: 4rem;
  }
  
  .mb-5rem {
    margin-bottom: 5rem;
  }
  
  .mb-6rem {
    margin-bottom: 6rem;
  }
  
  .mb-10rem {
    margin-bottom: 10rem;
  }
  
  .mb-11rem {
    margin-bottom: 11rem;
  }
  
  .mb-12rem {
    margin-bottom: 12rem;
  }
  
  .mb-13rem {
    margin-bottom: 13rem;
  }
  
  .ml-1rem {
    margin-left: 1rem;
  }
  
  .ml-2rem {
    margin-left: 2rem;
  }
  
  .ml-3rem {
    margin-left: 3rem;
  }
  
  .ml-4rem {
    margin-left: 4rem;
  }
  
  .ml-5rem {
    margin-left: 5rem;
  }
  
  .mr-1rem {
    margin-right: 1rem;
  }
  
  .mr-2rem {
    margin-right: 2rem;
  }
  
  .mr-3rem {
    margin-right: 3rem;
  }
  
  .mr-4rem {
    margin-right: 4rem;
  }
  
  .mr-5rem {
    margin-right: 5rem;
  }
  
  .ml-03rem{
      margin-left: 0.3rem;
  }
  .mr-03rem{
      margin-right: 0.3rem;
  }

//   padding

.pt-05rem{
    padding-top:0.5rem;
 }

 .pb-05rem{
    padding-bottom:0.5rem;
}