@import '../helpers/variables';
@import '../helpers/placeholders';
@import '../components/buttons';
@import '../helpers/mixins';


.header{
     padding: 15px;
     background-color: $default_theme;
     box-shadow: $border_shadow_bottom;  
     margin-bottom: 4em;
     &_container{
       @extend %header_container;

       button{
          @extend .header_btn;
       }
       
      .header_switch_mode{
           @extend %switch_mode;
       }

       h3{
           @include lightText(400,18px,$dark_text);
       }
       
     }

}