.header{
    @extend %header;
    h2{
        margin-left: 30px
    }
    h3{
        margin-right: 35px;
    }
    button{
       @extend %header_btn;
    }

    &_container{
      @extend %header_container;
    }

    &_switch{
        @extend %switch_mode;
    }

    h3{
        font-weight: 500;
    }

    .moon{
        color: $light-mode-elements;
    }

    .sun{
        color:$sun-color;
    }
}