@import '../helpers/mixins';

.inputs{
    @extend %inputs;

    .search_input{
     margin-left: 20px; 
     width: 645px !important;  
     @include searcInput(flex,center,center,$light-mode-elements,$box-shadow,600px,5px,5px,5px,7vh);
       input{
       @extend %default_input;
       width: 800px;
       }

       .searchIcon{
           color: $icon-search-color;
           position: relative;
           left: -15px;
           
       }
    }


    .select_region{
        @extend %select_region;
        margin-right: 20px;
    }

    .drop_down{
        @extend %drop_down;
    }
    
    .drop{
        @extend %drop;
    }

}

.search_input.darkMode{
    color: $light-mode-elements !important;
    background-color:$dark-mode-elements;
   
}

.searchIcon.darkMode{
    color: $light-mode-elements !important;
    margin-left: 20px;

    
}

.search_input.darkMode input::placeholder{
    color: $light-mode-elements;
}

.toggleDown.darkMode{
    color: $light-mode-elements;
}

.drop.darkMode{
    background-color: $dark-mode-elements !important;
    color: $light-mode-elements !important;
}



.loader{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10em;
}