*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

.app{
   @extend %app; 
}

.app_body{
    margin: 15px auto 0;
    padding: 15px;
    max-width: 1400px;
}