@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
.details_back_button, .back {
  background-color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 25px;
  width: 150px;
  font-size: 16px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 40px;
  top: 15px;
  gap: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.back.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.drop.display {
  display: none;
}

.app.darkMode {
  color: #fff;
  background-color: #202c37;
}

.header.darkMode {
  color: #fff;
  background-color: #2b3945;
}

.search_input.darkMode input {
  background-color: #2b3945;
}

.select_region.darkMode {
  color: #fff !important;
  background-color: #2b3945 !important;
}

.header h2 {
  margin-left: 30px;
}

.header h3 {
  margin-right: 35px;
}

.header h3 {
  font-weight: 500;
}

.header .moon {
  color: #fff;
}

.header .sun {
  color: orange;
}

.inputs .search_input {
  margin-left: 20px;
  width: 645px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 600px;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
  height: 7vh;
}

.inputs .search_input input {
  width: 800px;
}

.inputs .search_input .searchIcon {
  color: #848484;
  position: relative;
  left: -15px;
}

.inputs .select_region {
  margin-right: 20px;
}

.search_input.darkMode {
  color: #fff !important;
  background-color: #2b3945;
}

.searchIcon.darkMode {
  color: #fff !important;
  margin-left: 20px;
}

.search_input.darkMode input::-webkit-input-placeholder {
  color: #fff;
}

.search_input.darkMode input:-ms-input-placeholder {
  color: #fff;
}

.search_input.darkMode input::-ms-input-placeholder {
  color: #fff;
}

.search_input.darkMode input::placeholder {
  color: #fff;
}

.toggleDown.darkMode {
  color: #fff;
}

.drop.darkMode {
  background-color: #2b3945 !important;
  color: #fff !important;
}

.loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10em;
}

.header {
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.header_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app {
  background-color: #fafafa;
  min-height: 100vh;
  height: 100%;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.inputs .search_input input {
  outline: none;
  border: none;
  height: 7vh;
  width: 500px;
  font-size: 15px;
  padding-left: 5px;
}

.inputs .select_region {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.inputs .select_region button {
  outline: none;
  border: none;
  background-color: transparent;
}

.inputs .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.inputs .drop {
  position: absolute;
  top: 12em;
  display: block;
  right: 5.3em;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.inputs .drop p {
  margin-bottom: 5px;
}

.countries {
  max-width: 1400px;
  padding: 15px;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.countries .country {
  background-color: #fff;
  width: 305px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  height: 370px;
  cursor: pointer;
}

.country_details_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media (min-width: 375px) and (max-width: 667px) {
  .header {
    font-size: 10px;
  }
  .header button {
    font-size: 15px;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inputs .search_input {
    max-width: 320px;
    height: 6vh;
  }
  .inputs .search_input input {
    height: 3vh;
    width: 300px;
    font-size: 13px;
    margin-left: 10px;
    color: #fff;
  }
  .inputs .search_input .searchIcon {
    margin-left: 20px;
  }
  .inputs .select_region {
    width: 150px;
    font-size: 12px;
    position: relative;
    left: -6.9em;
    top: 3.5em;
  }
  .inputs .select_region .drop {
    width: 150px;
    left: -0.005em;
    top: 4.5em;
    z-index: 50;
  }
  .country {
    position: relative;
    top: 5em;
  }
  .country .flag_container {
    height: 150px;
    width: 90%;
  }
  .country .flag_container img {
    width: 50%;
    height: 90%;
  }
  .country_details {
    min-height: 100%;
    height: 130vh;
    padding: 20px;
  }
  .country_details .back {
    width: 100px;
  }
  .country_details .country_details_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country_details .country_details_body .info {
    margin-right: 5em;
  }
  .country_details .country_details_body .info .info_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country_details .country_details_body .info .info_container .left_info {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    margin-bottom: 30px;
    margin-right: 3em;
  }
  .country_details .country_details_body .info .info_container .right_info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 3em;
  }
  .error_page h1 {
    font-size: 18px !important;
    position: relative;
    width: 300px;
    top: 0.5em !important;
    left: 3.5rem !important;
  }
  .error_page .bug {
    position: absolute;
    font-size: 50px !important;
    top: 3.5em !important;
    left: 2.7em !important;
  }
  .loader {
    margin-top: 5em;
  }
}

.countries .country p {
  font-weight: 800;
}

.countries .country .values {
  font-weight: 300;
}

.countries .flag_container {
  height: 170px;
  width: 100%;
}

.countries .flag_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.countries .details {
  margin-left: 30px;
  margin-top: 25px;
}

.countries .details h2 {
  font-weight: 900;
  font-size: 25px;
}

.countries .details p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.country.darkMode {
  background-color: #202c37;
  color: #fff;
}

.values.darkMode {
  color: #fff;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito sans", sans-serif;
}

.app_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
}

.details_back_button, .back {
  background-color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 25px;
  width: 150px;
  font-size: 16px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 40px;
  top: 15px;
  gap: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.back.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.drop.display {
  display: none;
}

.country_details_body .img_container {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-top: 20px;
}

.country_details_body .img_container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.country_details_body .info {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.country_details_body .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.border_country {
  padding: 5px 10px;
  background-color: #fff;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.border_country.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.error_page {
  overflow: hidden;
  background-color: #fafafa;
  height: 80vh;
  width: 100%;
}

.error_page h1 {
  position: relative;
  top: -5rem;
  left: 30rem;
  font-size: 50px;
}

.error_page .bug {
  font-size: 180px;
  position: relative;
  color: red;
  top: 1.5em;
  left: 3em;
}

.error_page.darkMode {
  background-color: #202c37;
}
/*# sourceMappingURL=styles.css.map */