@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.header_container .header_switch_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input_base .input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1380px;
  margin: 0 auto;
}

.input_base .input_section .input_search input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.input_base .input_section .input_search .search_icon {
  color: #848484;
  position: relative;
  left: -10px;
  font-size: 17px;
}

.select_region {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.select_region .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.select_region .drop {
  position: absolute;
  top: 13em;
  right: 4.3em;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select_region .drop p {
  margin-bottom: 5px;
}

.country {
  max-width: 1380px;
  margin: 0 auto;
}

.country .info .info_align {
  position: relative;
  padding: 40px;
  top: 0.33em;
  left: -30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country .info .info_align .left_info h2 {
  margin-bottom: 25px;
}

.country .info .info_align .left_info p {
  margin-bottom: 10px;
}

.country .info .info_align .right_info {
  position: relative;
  left: 25em;
  top: 3em;
}

.country .info .info_align .right_info p {
  margin-bottom: 10px;
}

.country {
  overflow: hidden;
  height: 150vh;
  margin-bottom: 3em;
}

.header.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.app.darkMode {
  background-color: #202c37;
  color: #fff;
}

.input_search.darkMode, .select_region.darkMode, .drop.darkMode, .back.darkMode {
  background-color: #2b3945 !important;
  color: #fff;
}

.all_countries {
  margin-left: 5em;
  width: 305px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  grid-gap: 40px;
}

.header_btn, .header_container button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  padding-top: 5px;
}

.drop_down_btn, .select_region .drop_down button {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  top: 0.1rem;
  cursor: pointer;
}

.country_button, .country .back {
  background-color: #fff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: 0.3em;
}

.border_buttons, .country .border button {
  margin-left: 15px;
  padding: 5px 35px 10px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  position: relative;
  top: -0.3rem;
  border-radius: 5px;
}

.header {
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 4px 2px rgba(116, 116, 116, 0.08);
          box-shadow: 2px 4px 4px 2px rgba(116, 116, 116, 0.08);
  margin-bottom: 4em;
}

.header_container h3 {
  font-weight: 400;
  size: 18px;
  color: #111517;
}

.header .sun {
  color: orange;
}

.header .moon {
  color: #fff;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.header_container .header_switch_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input_base .input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1380px;
  margin: 0 auto;
}

.input_base .input_section .input_search input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.input_base .input_section .input_search .search_icon {
  color: #848484;
  position: relative;
  left: -10px;
  font-size: 17px;
}

.select_region {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.select_region .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.select_region .drop {
  position: absolute;
  top: 13em;
  right: 4.3em;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select_region .drop p {
  margin-bottom: 5px;
}

.country {
  max-width: 1380px;
  margin: 0 auto;
}

.country .info .info_align {
  position: relative;
  padding: 40px;
  top: 0.33em;
  left: -30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country .info .info_align .left_info h2 {
  margin-bottom: 25px;
}

.country .info .info_align .left_info p {
  margin-bottom: 10px;
}

.country .info .info_align .right_info {
  position: relative;
  left: 25em;
  top: 3em;
}

.country .info .info_align .right_info p {
  margin-bottom: 10px;
}

.country {
  overflow: hidden;
  height: 150vh;
  margin-bottom: 3em;
}

.header.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.app.darkMode {
  background-color: #202c37;
  color: #fff;
}

.input_search.darkMode, .select_region.darkMode, .drop.darkMode, .back.darkMode {
  background-color: #2b3945 !important;
  color: #fff;
}

.all_countries {
  margin-left: 5em;
  width: 305px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  grid-gap: 40px;
}

.header_btn, .header_container button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  padding-top: 5px;
}

.drop_down_btn, .select_region .drop_down button {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  top: 0.1rem;
  cursor: pointer;
}

.country_button, .country .back {
  background-color: #fff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: 0.3em;
}

.border_buttons, .country .border button {
  margin-left: 15px;
  padding: 5px 35px 10px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  position: relative;
  top: -0.3rem;
  border-radius: 5px;
}

.select_region .drop.display {
  display: none;
}

.txt_mode.darkMode {
  color: #fff;
}

.toggleDown.darkMode {
  color: #fff;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.header_container .header_switch_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input_base .input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1380px;
  margin: 0 auto;
}

.input_base .input_section .input_search input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.input_base .input_section .input_search .search_icon {
  color: #848484;
  position: relative;
  left: -10px;
  font-size: 17px;
}

.select_region {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.select_region .drop_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.select_region .drop {
  position: absolute;
  top: 13em;
  right: 4.3em;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select_region .drop p {
  margin-bottom: 5px;
}

.country {
  max-width: 1380px;
  margin: 0 auto;
}

.country .info .info_align {
  position: relative;
  padding: 40px;
  top: 0.33em;
  left: -30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country .info .info_align .left_info h2 {
  margin-bottom: 25px;
}

.country .info .info_align .left_info p {
  margin-bottom: 10px;
}

.country .info .info_align .right_info {
  position: relative;
  left: 25em;
  top: 3em;
}

.country .info .info_align .right_info p {
  margin-bottom: 10px;
}

.country {
  overflow: hidden;
  height: 150vh;
  margin-bottom: 3em;
}

.header.darkMode {
  background-color: #2b3945;
  color: #fff;
}

.app.darkMode {
  background-color: #202c37;
  color: #fff;
}

.input_search.darkMode, .select_region.darkMode, .drop.darkMode, .back.darkMode {
  background-color: #2b3945 !important;
  color: #fff;
}

.all_countries {
  margin-left: 5em;
  width: 305px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  grid-gap: 40px;
}

.input_base .input_section .input_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 650px;
  padding: 15px;
  padding-right: 19em;
  border-radius: 5px;
  gap: 5px;
}

.header_btn, .header_container button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  padding-top: 5px;
}

.drop_down_btn, .select_region .drop_down button {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  top: 0.1rem;
  cursor: pointer;
}

.country_button, .country .back {
  background-color: #fff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: 0.3em;
}

.border_buttons, .country .border button {
  margin-left: 15px;
  padding: 5px 35px 10px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  position: relative;
  top: -0.3rem;
  border-radius: 5px;
}

.countries .name {
  margin-bottom: 10px;
}

.countries .values {
  color: gray;
}

.countries .details {
  padding: 15px;
}

.countries .details p {
  margin-bottom: 5px;
}

.whole_thing {
  width: 300px;
  height: 380px;
  margin-top: 0.5em;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.whole_thing img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.whole_thing .details {
  position: relative;
  left: 2em;
  top: 1em;
}

.whole_thing .details p {
  padding: 3px;
  position: relative;
  top: 10px;
}

.country .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 6em;
}

.country .info img {
  width: 450px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.country .border {
  position: relative;
  left: 34.5rem;
  top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito sans", sans-serif;
}

@media (min-width: 375px) and (max-width: 667px) {
  .header {
    max-width: auto;
    padding: 20px;
  }
  .header_container h1 {
    font-size: 16px;
  }
  .header_container h3 {
    font-size: 13px;
  }
  .header_container button {
    font-size: 16px;
    position: relative;
    left: 5px;
  }
  .input_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input_section .input_search {
    width: 330px !important;
    padding-right: 0.8rem !important;
    padding: 10px !important;
    margin-bottom: 2.5em;
  }
  .input_section .input_search input {
    font-size: 15px !important;
  }
  .input_section .select_region {
    width: 200px !important;
    position: relative;
    padding: 10px !important;
    top: -0.5rem;
    left: -3.9rem;
    font-size: 14px;
  }
  .input_section .drop {
    top: 3em !important;
    left: 0.05em;
    z-index: 50;
  }
  .input_section .search_icon {
    font-size: 15px !important;
    position: relative;
    left: -1em !important;
  }
  .country {
    height: 150vh;
  }
  .country .back {
    width: 110px;
    padding: 10px;
    margin-left: 30px;
    position: relative;
    margin-top: 3px;
  }
  .country .info img {
    width: 500px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 35px;
    position: relative;
    top: -33px;
  }
  .country .info .info_align {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 16.5em;
    left: -15em;
  }
  .country .info .info_align .left_info {
    position: relative;
    left: -6.9em;
  }
  .country .info .info_align .left_info p {
    width: 350px;
    margin-bottom: 20px;
  }
  .country .info .info_align .right_info {
    left: -6.9em;
  }
  .country .info .info_align .right_info p {
    margin-bottom: 10px;
  }
  .country .border {
    position: relative;
    left: -4.3rem;
    top: 30rem;
  }
  .country .border h4 {
    position: absolute;
    top: -3.8em;
    left: 6em;
    font-weight: 200;
    word-wrap: none;
  }
  .country .border p {
    position: relative;
    top: -3.5em;
    left: 5.5em;
  }
  .country .border button {
    position: relative;
    left: 5.3rem;
    margin-left: 8px;
    padding: 10px 30px 10px 34px;
  }
  .all_countries {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .all_countries .whole_thing {
    top: -3rem;
    width: 300px;
    position: relative;
    left: -2.6em;
  }
}
/*# sourceMappingURL=styles.css.map */